<nav>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="">
                <img src="/img/bandiera.jpg" width="60" height="50" alt="">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/admin/projetos?#">Projetos Cadastrados</a>
        </li>
        <li class="nav-item">
            {{#each filterUsuario}}
            <a class="nav-link active">Olá, {{nomeUsuario}}</a>
            {{/each}}
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/admin/logout"><span class="material-icons-outlined md-36">logout</span></a>
        </li>
    </ul>
</nav>
<main>
    <h1>Cadastros de Tarefas</h1>
    <div class="container">
        <div id="container-img">
            <img src="/img/cadastro.svg" id="img-cadastro" alt="">
        </div>
        <form action="/admin/cadastro" method="POST" class="formulario" id="formulario" class="align-self-center">
            <div>
                <input name="date" id="date" type="date">
            </div>
            <div>
                <p>Deposite aqui o link</p>
                <input id="link" name="link" class="form-control row" type="text">
            </div>
            <div class="form-group row">
                <p>Selecione os Projetos</p>
                <select class="form-control" id="projeto" name="projeto">
                    <option selected value="">Selecione</option>
                    <option name="projeto" value="Projeto Sigip">Projeto Sigip</option>
                    <option name="projeto" value="Projeto Sentinela">Projeto Sentinela</option>
                    <option name="projeto" value="Projeto SGE">Projeto SGE</option>
                    <option name="projeto" value="Projeto Hydra">Projeto Hydra</option>
                    <option name="projeto" value="Projeto Mop">Projeto Mop</option>
                </select>
            </div>
            <div class="form-group row">
                <label for="exampleFormControlTextarea1">Tarefas</label>
                <textarea name="tarefa" id="tarefa" class="form-control" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
            </div>
            <div class="buttons">
                <button type="reset" id="buton-excluir" class="btn btn-primary btn-lg">Excluir</button>
                <button type="button" id="buton-cadastrar" class="btn btn-secondary btn-lg"
                    onclick="function(event)">Cadastrar</button>
            </div>
        </form>
    </div>
    <div class="grid">
        <table id="myTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Projeto</th>
                    <th scope="col">Tarefa</th>
                    <th scope="col">Link das Tarefas</th>
                    <th scope="col">Periodo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each filterProjeto}}
                    <td>{{usuario}}</td>
                    <td>{{projeto}}</td>
                    <td>{{tarefa}}</td>
                    <td>{{link}}</td>
                    <td>{{#formatDate periodo}}{{/formatDate}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>